section.sub-item-1[data-type="a"] {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 80%;
    width: 100%;
}

section.sub-item-1[data-type="a"] .title__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

section.sub-item-1[data-type="a"] .title__box .deco {
    font-size: 2rem;
    color: #aaa;
    font-weight: 300;
}

section.sub-item-1[data-type="a"] .title__box .title {
    font-size: 5rem;
    font-weight: bold;
}

section.sub-item-1[data-type="a"] .img__box {
    margin-top: 100px;
    border-radius: 15px;
    overflow: hidden;
}

section.sub-item-1[data-type="a"] .img__box img {
    width: 100%;
    display: flex;
}

section.sub-item-1[data-type="a"] .text__box {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 20px;
    box-sizing: border-box;
}

section.sub-item-1[data-type="a"] .text__box .item {
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    box-sizing: border-box;

}

section.sub-item-1[data-type="a"] .text__box .item .title {
    font-size: 2.5rem;
    font-weight: 700;
}

section.sub-item-1[data-type="a"] .text__box .item .text {
    color: #999;
    font-size: 1.8rem;

}