section.sub-layout[data-type="a"]{
    margin-top: 100px;
}
section.sub-layout[data-type="a"] .item__box{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 70%;
    margin: 0 auto;
}
section.sub-layout[data-type="a"] .item{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
section.sub-layout[data-type="a"] .item .odd{
    order: -1;
}
section.sub-layout[data-type="a"] .item .even{
    order: 2;
}
section.sub-layout[data-type="a"] .item .img__box{
    display: flex;
    justify-content: center;
}
section.sub-layout[data-type="a"] .item .img__box img{
    border-radius: 15px;
    height: 800px;
    width: 600px;
    object-fit: cover;
}
section.sub-layout[data-type="a"] .item .text__box{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
section.sub-layout[data-type="a"] .item .text__box .title{
    font-size: 3rem;
    line-height: 1.3;
    white-space: pre-line;
    font-weight: 700;
}
section.sub-layout[data-type="a"] .item .text__box .text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
section.sub-layout[data-type="a"] .item .text__box .div{
    width: 1px;
    background-color: #888;
    height: 50px;
}
section.sub-layout[data-type="a"] .item .text__box .text span{
    font-size: 1.8rem;
    white-space: pre-line;
    font-weight: 300;
}